<html>
<head>
<title>Student Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
 
<body>

   {{>navbar}}
 <form action="/forgot" method="POST">
<table align="center" cellpadding = "10">
 

 
 
<!----- Email Id ---------------------------------------------------------->
<tr>
<td>EMAIL ID</td>
<td><input type="text" name="email" maxlength="100" /></td>
</tr>

 
<tr>
<td>Password: </td>
<td>
<input type="Password" id="pass" name="password"> <br>  
</td>
</tr>
 
 <tr>
<td>Re-type password:</td>
<td>
<input type="Password" id="repass" name="confirmpass"> <br>  
</td>
</tr>

<tr>
<td>
<ul>
<li><input type="submit" value="Submit" style="text-align: center;"></li>
</ul>
</td>
</tr>


</tr>
</table>
 
</form>
 
</body>
</html>